<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	select 
    count(*) count
    from feed
    where FEED_PATH_NY = 'Y'
    AND FEED_PUBLIC_TYPE IN('전체','친구')
    AND FEED_DEL_NY = 'N'
</entry>

<entry key="selecEList">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY FEED_INDEX DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
</entry>

<entry key="selecFList">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY HIT DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
</entry>

<entry key="selecNList">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        AND MEM_ID = ?
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY FEED_INDEX DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
</entry>

<entry key="selecDList">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        AND MEM_ID = ?
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY DISTANCE DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
</entry>

<entry key="selecList1">
	SELECT 
           FEED_INDEX
         , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
         , FEED_TITLE
         , FEED_CNT
         , FEED_EVAL
         , DISTANCE
         , START_LAT
         , START_LON
         , MEM_ID
         , CHANGE_NAME
         , HIT
    FROM FEED
    JOIN GPX_FILES USING(FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
		ORDER BY FEED_INDEX DESC
</entry>

<entry key="selectKeywordList">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        AND FEED_TITLE LIKE ?
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY FEED_INDEX DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
	
</entry>
    
<entry key="selectKeywordList1">
	SELECT *
		FROM (SELECT ROWNUM "RNUM",A.*
		FROM (SELECT
		        FEED_INDEX
		      , TO_CHAR(FEED_DATE,'YYYY-MM-DD') "DATE"
		      , FEED_TITLE
		      , FEED_EVAL
		      , DISTANCE
		      , START_LAT
		      , START_LON
              , MEM_ID
              , CHANGE_NAME
              , HIT
              , COUNT(CASE WHEN BK_STATUS = 'Y' THEN 1 ELSE NULL END) "COUNT"
		FROM FEED
        JOIN GPX_FILES USING(FEED_INDEX)
        LEFT JOIN BOOKMARK ON(BK_NO = FEED_INDEX)
		WHERE FEED_PATH_NY = 'Y'
		AND FEED_RPR_NY ='N'
		AND FEED_DEL_NY = 'N'
        AND FEED_TITLE LIKE ?
        AND MEM_ID = ?
        GROUP BY FEED_INDEX, TO_CHAR(FEED_DATE,'YYYY-MM-DD'), FEED_TITLE, FEED_EVAL, DISTANCE, START_LAT, START_LON, MEM_ID, CHANGE_NAME,HIT
		ORDER BY FEED_INDEX DESC) A)
		WHERE 
		    RNUM BETWEEN ? AND ?
	
</entry>
    
</properties>