<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertFeed">
		INSERT
		    INTO FEED
		    (   
		        FEED_INDEX
		      , FEED_TITLE
		      , FEED_CNT
		      , FEED_EVAL
		      , FEED_PUBLIC_TYPE
		      , FEED_PATH_NY
		      , DISTANCE
		      , START_LAT
		      , START_LON
		      , MEM_ID
		    )
		    VALUES
		    (
		       SEQ_FEED_INDEX.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		    )
	</entry>
	
	<entry key="insertGpx">
		INSERT
		    INTO GPX_FILES
		    (
		       GPX_NO
		     , FEED_INDEX
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		    )
		    VALUES
		    (
		      SEQ_GPX_FILES.NEXTVAL
		    , SEQ_FEED_INDEX.CURRVAL
		    , ?
		    , ?
		    , ?
		    )
	</entry>
	
	
	<entry key="selectAllFeedList">
		SELECT 
		       FEED_INDEX
		     , FEED_DATE
		     , FEED_TITLE
		     , FEED_CNT
		     , FEED_EVAL
		     , FEED_PATH_NY
		     , FEED_RPR_DATE
		     , DISTANCE
		     , START_LAT
		     , START_LON
		     , MEM_NICK
		 FROM FEED
		 JOIN MEMBER USING(ME
		 M_ID)
		WHERE FEED_PUBLIC_TYPE ='전체'
		  AND FEED_RPR_NY = 'N'
		  AND FEED_DEL_NY = 'N'
		ORDER
		    BY FEED_INDEX DESC
	</entry>
	<entry key="selectMember">
		SELECT 
		FEED_INDEX
	  , FEED_DATE
	  , FEED_TITLE
	  , FEED_CNT
	  , FEED_EVAL
	  , DISTANCE
	  , START_LAT
	  , START_LON
      , MEM_ID
      , CHANGE_NAME
      , HIT
		 FROM FEED
		LEFT JOIN UPLOAD ON(MEM_ID =UPL_ID)
	WHERE FEED_INDEX = ?
		  AND FEED_RPR_NY = 'N'
		  AND FEED_DEL_NY = 'N'
	</entry>
	
	<entry key="insertcomments">
	INSERT
	    INTO 	FEED_COMMENTS
	    (
	      FEED_CMN_NO
	    , FEED_CMN_ID
	    , FEED_CMN_CNT
	    , FEED_CMN_DATE
	    , FEED_INDEX
	    )
	    VALUES
	    (
	      SEQ_FEED_CMN_NO.NEXTVAL
	    , ?
	    , ?
	    , SYSDATE
	    , ?

	    )

</entry>

<entry key="selectdetail2">
	SELECT
		        FEED_CMN_NO
		      , FEED_CMN_ID
		      , FEED_CMN_CNT
		      , TO_CHAR(FEED_CMN_DATE, 'YY/MM/DD HH:MI') "FEED_CMN_DATE"
		   FROM FEED_COMMENTS 
		  WHERE FEED_INDEX = ?
		  ORDER
		     BY FEED_CMN_NO DESC

</entry>


<entry key="updateCount">
	UPDATE
        FEED
    SET HIT = HIT + 1
    WHERE FEED_INDEX = ?
    AND FEED_RPR_NY = 'N'


</entry>
	
</properties>