<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 로그인 유저가 이번달 달린거리 -->
	<entry key="totalDistance">
		SELECT MEM_ID, SUM(DISTANCE) "DISTANCE", TO_CHAR(FEED_DATE, 'YYYY-MM') "RUNDATE"
		  FROM FEED
		 GROUP
		    BY MEM_ID, TO_CHAR(FEED_DATE, 'YYYY-MM')
		 HAVING MEM_ID = ? AND TO_CHAR(FEED_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
	</entry>
</properties>