@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'SUIT-Regular';
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
#wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    position: relative;
}

.popup_area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
    border-radius : 8px;
}

.popup_top {
	position : relative;
	text-align: center;
	align-items: center;
	justify-content : center;
	min-height : 56px;
	padding : 20px 0;
	font-size : 1.2rem;
}


.popup_area span{
    display: block;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}


#title{
    font-size: 1.3rem;
    font-weight: 530;
}

.popup_body{
	position : relative;
	padding : 0px 55px 40px;
	max-height : 710px;
	overflow-y : auto;
	overflow-x : hidden;
}


#allAgree{
	position: relative;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    height: 50px;
    align-items: center;
    font-weight: 700;
    /* padding: 0 9px 0 10px; */
}

#allAgree > input {
	padding-right : 9px;
	margin-right :9px;
}


td{
	padding: 15px 9px 0 10px;
	font-size : 0.9rem;
}

.check_all{
	padding: 5px 9px 0 10px;	
}
.ness{
	color : #ff7920;
	font-weight : 1000;
}

#info{
	padding: 15px;
	width : 400px;
    background-color: #f2f3f5;
    border-radius: 8px;
    margin-top : 40px;
    font-size : 0.9rem;
    font-weight : 530;
}



.next_btn{
	display : inline-block;
    width: 400px;
    height: 45px;
    margin-top: 5px;
    background-color: #ff7920;
    color: white;
    font-weight: bold;
    border: none;
	text-align : center;
    border-radius: 8px;
    margin-top:20px;
    margin-bottom : 20px;
    line-height : 33px;
    
    align:center;
}


.detail{
    cursor: pointer;
}

#x-box{
	position : relative;
	margin-left : 450px;
	
}

.fa-x{
	padding:5px;
	cursor : pointer;
}

#next{
	width:100%;
	height:100%;
	background-color:blue;
}

#disable{
	display : none;
}
/* 
.modal_body{
	display :inline-block;
	overflow-x: initial !important;
	height:300px;
}*/

.modal-content{
 overflow-y: initial !important;
}

 .modal_body {
 
     position: relative;
    padding: 20px 25px 25px;
    overflow-y: auto;
height: 300px;
width:795px;
overflow-y: scroll;

}
.modal-body *{
	word-wrap:break-word;
	word-break:break-all;
}