@charset "UTF-8";


@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#fix_div{
	width:100%;
	height:20px;
	
}
.feedContent{
    border: none;
    width: 100%;
    height: 95%;
    margin: auto;
    overflow: auto;

}
.feedContent::-webkit-scrollbar {
    display: none;
  }
  
.feeddiv{
	border: 1px solid lightgray;
	width:88%;
    width: 780px;
	height: 600px;
    margin: auto;
    background-color :white;
    border-radius : 5px;
    margin-top: 20px;
}
.feed_table{
    width: 96%;
    height: 90%;
    margin: auto;
    margin-top:20px;
}
#f_table{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 피드 작성자 프로필 */
#feed_profile{
    width: 80%;
    height: 10px;
    
}
#feed_profile>div{
    width: 94%;
    height: 100%;
    margin: auto;
}
#p_img{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
#p_img>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#p_name{
    width: 100%;
    height: 40%;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}
#p_date{
display: inline;
}

#pimg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#p_loca{
    display: inline-block;
    font-size: 13px;
    /* background-color: violet; */
    
    margin: 0;
    padding: 0;
    }
#p_loca>img{
    width: 25px;
    height: 25px;
}
/* 더보기버튼 */
#plus>div{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: end;

}
#plus>div img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/*더보기 드롭다운 부트스트랩*/
#dropdown>button{
    background-color: white;
}
#plus .btn-secondary{
    background-color: white !important;
    border: none !important;    
}
.dropdown-menu {
    min-width: 7rem !important;
}
.dropdown-item:focus {
    background-color: red;
  }

/*피드삭제모달*/
.btn.btn-primary.delfeedbtn{
    background-color: rgb(60, 108, 167); ;
}
.deltitle{
    color:  rgb(60, 108, 167);
    font-weight: bold;
}
#delokbody>*{
    padding: 0;
    line-height: 24px;
}

/* 피드 제목*/
#f_title{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0;
    margin: 0;

}
#td2_1{
    padding: 0;
    margin: 0;
}
#f_title>a{
    margin: 0px 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    color: rgb(60, 108, 167);
}
/* 피드내용 */
#f_content{
    width: 100%;
    height: 80px;
}
#f_content>p{
    margin: 0px 20px;
    font-size: 15px;
    padding: 0;
    height: 80%;
}
/* 피드내용길면 ... 나오게 */
#f_content>p{
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    display: -webkit-box; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 400px;
}



/* gpx */
#gpx>div{
    width: 95%;
    height: 95%;
    margin: auto;

}
#gpx>div>img{
    width: 100%;
    height: 100%;
}


/* 별점 */
#star{
    width: 50%;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;   
}
.fas{
    color:rgb(255, 230, 0);
}
.fa-regular{
    color: grey;
    
}

/* 찜 */


a{
text-decoration:none; color:inherit; cursor: pointer;
}
.right_area{
    margin-right: 20px;
}
.right_area .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw * (45 / 1920));
    height: calc(100vw * (45 / 1920));

    border-radius: 50%;
    border: solid 2px #eaeaea;
    background-color: #fff;
}

.icon.heart img{
    width: calc(100vw * (24 / 1920));
    height: calc(100vw * (24 / 1920));
}

.icon.heart.fas{
color:red
}
.heart{
    transform-origin: center;
}
.heart.active img{
    animation: animateHeart .3s linear forwards;
}




@keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
}
#ct3 * {
    border: 0px;
}
