<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면기본구조</title>
    <link rel="stylesheet" href="../resources/css/wrap.css">
</head>

<body>
    <div class="wrap">
        <div id="header">
            <div id="hd1">
                <img src="../resources/image/logo.png" alt="">
            </div>
            <div id="hd2"></div>
            <div id="hd3"></div>
        </div>

        <div id="content">
            <div id="ct1"></div>
            <div id="ct2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit similique, ad eum iste tempora, commodi optio delectus rem aspernatur eaque dolor quo magnam nulla exercitationem perspiciatis quaerat numquam possimus consectetur.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit repellat quis doloribus quae repellendus recusandae optio facere quod pariatur. Dolorum repellendus ratione mollitia illum dignissimos perferendis ea harum inventore deleniti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vel? Excepturi, reprehenderit dolorum placeat laboriosam aspernatur laborum at dolorem facere incidunt praesentium nemo earum consequatur sequi sunt repudiandae, porro cupiditate?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit similique, ad eum iste tempora, commodi optio delectus rem aspernatur eaque dolor quo magnam nulla exercitationem perspiciatis quaerat numquam possimus consectetur.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit repellat quis doloribus quae repellendus recusandae optio facere quod pariatur. Dolorum repellendus ratione mollitia illum dignissimos perferendis ea harum inventore deleniti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vel? Excepturi, reprehenderit dolorum placeat laboriosam aspernatur laborum at dolorem facere incidunt praesentium nemo earum consequatur sequi sunt repudiandae, porro cupiditate?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit similique, ad eum iste tempora, commodi optio delectus rem aspernatur eaque dolor quo magnam nulla exercitationem perspiciatis quaerat numquam possimus consectetur.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit repellat quis doloribus quae repellendus recusandae optio facere quod pariatur. Dolorum repellendus ratione mollitia illum dignissimos perferendis ea harum inventore deleniti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vel? Excepturi, reprehenderit dolorum placeat laboriosam aspernatur laborum at dolorem facere incidunt praesentium nemo earum consequatur sequi sunt repudiandae, porro cupiditate?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit similique, ad eum iste tempora, commodi optio delectus rem aspernatur eaque dolor quo magnam nulla exercitationem perspiciatis quaerat numquam possimus consectetur.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit repellat quis doloribus quae repellendus recusandae optio facere quod pariatur. Dolorum repellendus ratione mollitia illum dignissimos perferendis ea harum inventore deleniti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vel? Excepturi, reprehenderit dolorum placeat laboriosam aspernatur laborum at dolorem facere incidunt praesentium nemo earum consequatur sequi sunt repudiandae, porro cupiditate?
                    
                </p>
            </div>
            <div id="ct3"></div>
        </div>
        <div id="footer">
            <div id="ft1"></div>
        </div>
    </div>
</body>

</html>