<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/shared.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Han+Sans&family=Fira+Sans:wght@400;700&family=Hahmlet:wght@400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@700;900&family=Oleo+Script&family=Oswald:wght@700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <style>
    /* div{
        box-sizing: border-box;/
    } */

    </style>
</head>
<body>
    <div id="wrap">
    <header>
        <nav>
            <div id="wrapnav">
                <div id="fistgroup">
                    <div id="logo">
                        <img src="../../resources/image/logo.png" alt="ovcos 로고" id="logoimg" >
                    </div>
                    <div id="menu">
                        <ul>
                            <li><a href="aFeed">피드</a></li>
                            <li id="explore"><a href="">탐색</a></li>
                            <li id="chall"><a href="">챌린지</a></li>
                        </ul>
                    </div>
                </div>
                <div id="lastgroup">
                    <ul>
                        <li>
                            <div id="alarm">
                                <img src="resources/images/bell.png" alt="알림종">
                            </div>
                        </li>
                        <li id="mp">
                            <div id="myPage">
                            </div>
                        </li>
                        <li>
                        <!-- 버튼이미지 -->
                        </li>
                        <li>
                            <div id="feed">
                                <a href="">+</a>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>


    </div>
</body>
</html>