*{
    padding: 0;
    margin: 0;
}

#body{
    position: relative;
    background-image: url(resources/image/start.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    width: 100%;
    margin: auto;
    
}
#c1{
    width: 100%;
    height: 90vh;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}

#content{
    width: 30%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 3;
    color: black;
}

.btn{
    
        width: 200px;
        height: 50px;
        color: white;
        font-size: 20px;
        font-weight: bolder;
        background-color:rgb(67, 115, 176) ;
        border-style: hidden;
        /* border-radius: 4%; */
        top: 120px;
    
}


/* 로그인 */
#login{
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%);
    width: 700px;
    height: 600px;
    text-align: center;
    background-color: #fff;
    border-radius:5%;
}
#logotop{
    position: absolute;
    z-index: 3;
    top:-10px;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
}


/* #nextbtn{
    position: absolute;
    top: 550px;
    transform: translate(-50%);
    margin-left: 50%;
} */

#provision{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin-top: 150px;
    margin-left: 15%;
    
}
#agreeCheck{
    position: absolute;
    top:460px;
    transform: translate(50%);
    margin-left: 60px;
}

#joinStep>ul, #joinStep li, #agreeBox, #box {
    border: 1px solid black;
    box-sizing: border-box;
}

/* #step{
    background-color: red;
    position: absolute;
    top:100px;
    width: ;
    transform: translate(100%);
   
} */
#joinStep{
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    top: -10px;
    
}
#joinStep li{
    /* background-color: blue; */
    list-style-type: none;
    float: left;
    width: 15%;
    height: 10%;
    text-align: center;
    font-size: 15px;
    line-height: 27px;

    display: block;
    transform: translate(130%);


}

#step{
    position: relative;
    background-color: green;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 120px;
}


#agreeBox{
    position : absolute;
    width: 500px;
    height: 300px;
    border: 1px;
    color: black;
} 

 #box{
    position : absolute;
    width: 500px;
    height: 300px;
    border: 1px;
    color: black;
}

.btn{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color:rgb(67, 115, 176) ;
    top: 500px;
    bottom: 20%;
    left: 50%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translate(-50%);
}
