*{margin: 0; padding: 0;}

div, form, input{
    box-sizing: border-box;
    border: 1px solid red;
}
body{background-color: rgb(247, 247, 250);}
.wrap{width: 1500px; height: 1000px; margin: auto; padding-top: 55px;}
.wrap>div{width: 100%;}
#content{height: 90%;}

/* content */
#content>div{
    width: 100%;
    float: left;
}

#chlgMain1{
    height: 20%;
}

#chlgMain2{
    height: 80%;
}