th{
  padding-right: 90px;
  padding-left: 40px;
}

/* component */

.star-rating {
  /* border:solid 1px #ccc; */
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

/* explanation */

article {
  background-color:#ffe;
  box-shadow:0 0 1em 1px rgba(0,0,0,.25);
  color:#006;
  font-family:cursive;
  font-style:italic;
  margin:4em;
  max-width:30em;
  padding:2em;
}

.modal-footer{
  position: relative;

}

#dist1{
  position: absolute;
  left: 50px;
  width: 300px;
}

#dist{
  position: absolute;
  left: 50px;
  width: 300px;
}

.modal-title{
  width: 100%;
  text-align: center;
}
#map{
  border: 1px solid rgb(163, 163, 163);
  width:700px;
  height:350px; 
  margin: auto; 
  
 }
