*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}


/* 화면 기본 구조 잡기기 */

#course{
    /* margin-top: 55px; */
    width: 100vw;
    height: calc(100vh - 65px);
    /* border: 1px solid red; */
}

#course > div{
    height: 100%;
    border: 1px solid red;
    float: left;
}
#course_nav{
    width: 70px;
}
#course_left{
    width: 370px;
}
#content{
    width: calc(100% - 447px);
}

/* course_nav 구조잡기 */
#course_nav>ul{
    display: flex;
    flex-direction: column;
}

#course_nav li{
    width: 100%;
    height: 80px;
}

.li1{
    background-color: #404040;;
}
a{
    display: block;
    width: 100%;
    height: 100%;
}

.nav1>img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.li1text{
    color: white;
    font-size: 0.8rem;
    display: block;
}

.li2text{
    color: grey;
    font-size: 0.8rem;
    display: block;
}

#sectiontop{
    width: 100%;
    height: 130px;
    border: 1px solid black;
}

#title{
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}
input, img{
    display: block;
}

#search{
    background-color: #f2f2f2;
    width: 88%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 5px;
}
#search>input{
    float: left;
    width: 260px;
    height: 35px;
    background-color: #f2f2f2;
    border: none;
    margin-left: 20px;
}
input:focus {outline: none;}
#search>img{
    width: 40px;
    margin: 0;
}

#tab_manu{
    width: 100%;
    height: 40px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}
#tab_manu>ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#tab_manu>ul>li{
    display: block;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    border: 1px solid rgb(67, 115, 176);
    border-radius: 30px;
}

#left_content{
    width: 100%;
    height: calc(100% - 175px);
    border: 1px solid aqua;
}
