*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

#exMainWrap{
    /* border: 1px solid; */
    width: 100%;
    height: 1000px;
    margin: auto;
    padding-top: 100px;
}

#exMainWrap>div{
    width: 100%;
}
#search{height: 10%;}
#content{height: 90%;}
#content>div{float: left;}

#search div{
    float: left;
}

#segSearch{
    width: 20%;
    
}

#text{border: 1px solid rgb(56, 55, 55);}

#button-addon2{border: 1px solid rgb(56, 55, 55);}

.dropdown{
    margin-left: 20px;
    border: 1px solid rgb(56, 55, 55);
    border-radius: 10px;
}
#summary{
    width: 20%;
    border: 1px solid black;
    height: 70%;
}
#map{
    width: 77%;
    /* border: 1px solid black; */
    height: 70%;
    margin-left: 20px;
    border-radius: 10px;
}
#summary div{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}
