@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'SUIT-Regular';
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
div{box-sizing: border-box; }
#wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    position: relative;
}
