@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}


#wrap{
    width: 100vw;
    height: 55px;
}

#wrapnav{
    width:100%;
    height: 55PX;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid rgb(197, 196, 196);
}


#fistgroup {
    display: flex;
    align-items: center ;
}

#logoimg {
    width: 120px;
}

/* 메뉴시작 (피드,탐색,챌린지) */
#menu>ul {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
#menu>ul>li{
    list-style: none;
    border-bottom: 3px solid white ;
    width:50px;
    height: 50px;
    margin: 0px 30px;
    text-align: center;

}
#menu>ul>li:hover{
    border-bottom: 3px solid rgb(67, 115, 176) ;
    margin: 0px 30px;
}

#menu ul li a{
    text-decoration: none;
    font-family: 'SUIT-Regular';
    font-weight: 700;
    font-size: 15px;
    color:black;
    line-height: 50px;
    width: 100%;
    height: 100%;
    display: block;
    
}
#menu>ul>li>a:hover{
    color: rgb(67, 115, 176);
}

/* 챌린지 서브메뉴 */
#chall>ul{
    list-style-type: none;
    width:45px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: none;
} 
#chall li{
    width:50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background-color: white;

}
#chall:hover>ul{
    display: block;
}
/* 메뉴끝 */




/* 네비마지막세개버튼 */
/* 종 */
#lastgroup>ul{
    display: flex;
    margin : 0;
	margin-bottom: 0;
}
#lastgroup li{
    list-style: none;
}
#li1{
    margin: 10px 30px;
    width: 35px;
    height: 39px;
}
#li2{
    margin: 10px 5px;
    width: 35px;
    height: 39px;
}
#li3{
    width: 35px;
    height: 34px;
    padding: 15px 10px 10px 10px;
}

/* 마이페이지서브메뉴 */
#submenu{
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: none;
}
#submenu>li{
    padding-top: 5px;
}
#submenu>li>a{
    text-decoration: none;
    color: black;
    font-family: 'SUIT-Regular';
}
#submenu>li>a:hover{
    color: darkgray;
}

#li2:checked>ul{
    display: block;

}
#li2,#li3{
    cursor: pointer;
}
/*서브메뉴 끝*/


#li4{
    width: 28px;
    height: 39px;
    margin: 10px 10px 10px 20px;
    /* margin: auto; */
}
#alarm img{
    width: 35px;
}

#alarm:hover{
    background-color: rgba(0, 0, 0, 0.2);

}

#mp{
    margin: 0;
    padding: 0;
}
#myPage{
    width: 35px;
    border-radius: 50%;

}
#myPage img{
    width: 35px;
    border-radius: 50%;


}
#downbtn{
    width: 35px;
}
#downbtn img{
    width: 15px;
}


#feed{
    width: 100%;
    height: 50%;
    text-align: center;
}
#feed>a{
    font-size: 40px;
    line-height: 60%;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}
#feed>a:hover{
    color: rgb(67, 115, 176);

}