/* @import url(header.css); */
@import url(content.css);
@import url(footer.css);

*{margin: 0; padding: 0;}

div, form, input{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.wrap{width: 1400px; height: 1600px; margin: auto;}
.wrap>div{width: 100%;}
#header{width: 1400px; height: 70px; position: fixed;}
#content{height: 90%; padding-top: 70px;}
#footer{height: 10%;}