<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/Create.css">
   
</head>
<body>
    

    <a href="#pop1" class="btn"><h3>피드 작성</h3></a>
    <div class="popup" id="pop1">
        <a href="#a">X</a>
        <h3 id="feed">피드작성</h3>
    
        <table>
            <th>제목</th>
            <td><input type="text"  name="title" size="45" placeholder="제목입력해주세요"></td>
        </table>
        <br>
        <table >
            <th style="padding-bottom: 140px;">내용</th>
            <td>
                <textarea type="text" 
                name="content" cols="47" rows="10" 
                style="resize: none;">
                </textarea>
        </table> 
   
        <hr>
        <div>
            <label for="avatar">파일 첨부 : </label>

            <input type="file"
           id="avatar" name="avatar"
            accept="image/png, image/jpeg">
            
        </div>
        
        
    </div>
    <div class="dim"></div>




   









</body>
</html>    