<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/Create.css">
</head>

<body>

    <form action="">
        <a href="#pop1" class="btn">
            <h3>피드 작성</h3>
        </a>
        <div class="popup" id="pop1">
            <a href="#a"><img src="../../resources/image/close.png"></a>
            <h2 id="feed1">피드작성</h2>
            <div>
                <table id="text1">
                    <tr>
                        <th id="th1">제목</th>
                        <td id="td1"><input type="text" name="title" size="70" placeholder="제목입력해주세요"></td>
                    </tr>
                </table>
            </div>
            <br>

            <div>
                <table id="text">
                    <tr>
                        <th id="th1" style="padding-bottom: 140px;">내용</th>
                        <td id="td1">
                            <textarea type="text" name="content" cols="72" rows="10" style="resize: none;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>

            <div>
                <table id="avater1">
                    <th id="th1">
                        <label for="avatar">파일 첨부 : </label>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    </th>
                    <th id="star">별점:</th>
                    <td style="padding-right: -100px;">
                        <div class="rating_box">
                            <div class="rating">
                                ★★★★★
                                <span class="rating_star">★★★★★</span>
                                <input type="range" value="1" step="1" min="0" max="10">
                            </div>
                        </div>
                    </td>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <td style="height: 230px; width: 640px;">

                    </td>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <th>공개여부</th>
                        <td>
                            <select>
                                <option>전채공개</option>
                                <option>비공개</option>
                                <option>친구에게만</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" style="margin-left: 370px;">완료</button>
                        </td>
                        <td>
                            <button onclick="history.back()">취소</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <div class="dim"></div>
    </form>



    <script>
        const rating_input = document.querySelector('.rating input');
        const rating_star = document.querySelector('.rating_star');

        // 별점 드래그 할 때
        rating_input.addEventListener('input', () => {
            rating_star.style.width = `${rating_input.value * 10}%`;
        });
    </script>

</body>

</html>